 body {
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: top;
     height: 100vh;
     margin: 0;
     overflow: hidden;
     font-family: sans-serif;
 }

 .heart-button {
     background: none;
     border: none;
     cursor: pointer;
     outline: none;
     position: relative;
     animation: pulse 1.5s infinite;
 }

 .heart-button::before,
 .heart-button::after {
     content: '';
     position: absolute;
     background-color: red;
     width: 100px;
     height: 150px;
     border-radius: 50px 50px 0 0;
     transform: rotate(-45deg);
 }

 .heart-button::after {
     left: 50px;
     transform: rotate(45deg);
 }

 @keyframes pulse {
     0% {
         transform: scale(1);
     }

     50% {
         transform: scale(1.5);
     }

     100% {
         transform: scale(1);
     }
 }

 .heart-button:hover {
     animation-play-state: paused;
     transform: scale(1.2);
     transition: transform 0.3s ease;
 }